In [5]:
import pandas as pd
from processing import indeed_pl
from sklearn.preprocessing import FunctionTransformer
import numpy as np
import re

In [6]:
df = pd.read_csv('../csv/indeed_pierre.csv')

In [8]:
df = indeed_pl.fit_transform(df)

[Pipeline]  (step 1 of 8) Processing salary_transformer, total=   0.0s
[Pipeline] .. (step 2 of 8) Processing date_transformer, total=   0.0s
[Pipeline] .. (step 3 of 8) Processing query_transfomer, total=   0.0s
[Pipeline]  (step 4 of 8) Processing contract_transformer, total=   0.0s
[Pipeline]  (step 5 of 8) Processing rating_mean_transformer, total=   0.0s
[Pipeline]  (step 6 of 8) Processing rating_count_transformer, total=   0.0s
[Pipeline]  (step 7 of 8) Processing location_transformer, total=   0.0s
[Pipeline]  (step 8 of 8) Processing sponso_transformer, total=   0.0s

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          3002 non-null   object
 1   query                        3002 non-null   object
 2   title                        3002 non-null   object
 3   company                      3001 non-null   object
 4   rating_mean                  3002 non-null   float64
 5   location                     3002 non-null   object
 6   salary                       470 non-null    object
 7   summary                      3002 non-null   object
 8   sponso                       3002 non-null   int64
 9   contract                     2003 non-null   object
 10  desc                         3002 non-null   object
 11  rating_count                 3002 non-null   int64
 12  day_since                    3002 non-null   object
 13  salary_origin_mode           469 non-null    object
 14  salary_min                   469 non-null    float64
 15  salary_max                   469 non-null    float64
 16  salary_mean                  469 non-null    float64
 17  date                         3002 non-null   datetime64[ns]
 18  query_developpeur            3002 non-null   int32
 19  query_business+intelligence  3002 non-null   int32
 20  query_data+scientist         3002 non-null   int32
 21  query_data+analyst           3002 non-null   int32
 22  contract_temps plein         3002 non-null   int32
 23  contract_cdd                 3002 non-null   int32
 24  contract_apprentissage       3002 non-null   int32
 25  contract_indépendant         3002 non-null   int32
 26  contract_stage               3002 non-null   int32
 27  contract_temps partiel       3002 non-null   int32
 28  contract_intérim             3002 non-null   int32
 29  contract_commission          3002 non-null   int32
 30  contract_contrat pro         3002 non-null   int32
 31  contract_cdi                 3002 non-null   int32
 32  location_dirty               3002 non-null   object
 33  dep                          2813 non-null   float64
dtypes: datetime64[ns](1), float64(5), int32(14), int64(2), object(12)
memory usage: 633.4+ KB

,_id,query,title,company,rating_mean,location,salary,summary,sponso,contract,...,contract_apprentissage,contract_indépendant,contract_stage,contract_temps partiel,contract_intérim,contract_commission,contract_contrat pro,contract_cdi,location_dirty,dep
0,c5bc824b51725453,"[""data+scientist""]",Alternance - Data Scientist H/F,Malakoff Humanis,3.7,Paris 9e (75),NaN,Dans le cadre de votre alternance et en collab...,0,"Apprentissage, Contrat pro",...,1,0,0,0,0,0,1,0,Paris 9e,9.0
1,41984177da7622eb,"[""data+analyst"",""data+scientist""]",DATA ANALYST H/F,Groupement Les Mousquetaires,3.0,Issy-les-Moulineaux (92),NaN,Vous accompagnez la montée en compétences anal...,0,"Temps plein, CDI",...,0,0,0,0,0,0,0,1,Issy-les-Moulineaux,92.0
2,ecdbb413df0fc6d6,"[""data+scientist""]",Alternance - Data Scientist - Metz (F/H),Banque Populaire Alsace Lorraine Champagne,3.8,Somme,NaN,La Banque Populaire Alsace Lorraine Champagne ...,0,"Apprentissage, Contrat pro",...,1,0,0,0,0,0,1,0,Somme,NaN
3,51c591314452c91c,"[""data+scientist"",""developpeur""]",DATA SCIENTIST / MACHINE LEARNING RESEARCHER I...,Joko,0.0,Paris (75),NaN,Tu seras responsable du développement d'algori...,1,Stage,...,0,0,1,0,0,0,0,0,Paris,75.0
4,1c8dce698e6095b3,"[""data+scientist""]",Data Scientist - Maintenance prédictive des ap...,MGEN,3.1,Tours (37),NaN,Description de l'établissement ou de la direct...,1,"Apprentissage, Contrat pro",...,1,0,0,0,0,0,1,0,Tours,37.0

In [ ]:
df.to_csv('indeed_pierre_process.csv', index=False, encoding='utf-8')