In [12]:
import pandas as pd
from processing import SalaryProcessor, MultipleCategorieProcessor

In [13]:
df = pd.read_csv('../csv/indeed_pierre.csv')

In [14]:
df = SalaryProcessor().process_dataframe(df, 'salary')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   3002 non-null   object
 1   query                 3002 non-null   object
 2   title                 3002 non-null   object
 3   company               3001 non-null   object
 4   rating_mean           1487 non-null   object
 5   location              3002 non-null   object
 6   summary               3002 non-null   object
 7   sponso                143 non-null    object
 8   date                  3002 non-null   object
 9   rating_count          1480 non-null   object
 10  contract              2003 non-null   object
 11  desc                  3002 non-null   object
 12  salary_min            3002 non-null   float64
 13  salary_max            3002 non-null   float64
 14  salary_mean           3002 non-null   float64
 15  salary_original_mode  3002 non-null   float64
dtypes: float64(4), object(12)
memory usage: 375.4+ KB

,_id,query,title,company,rating_mean,location,summary,sponso,date,rating_count,contract,desc,salary_min,salary_max,salary_mean,salary_original_mode
0,c5bc824b51725453,"[""data+scientist""]",Alternance - Data Scientist H/F,Malakoff Humanis,"3,7",Paris 9e (75),Dans le cadre de votre alternance et en collab...,Sponsorisée,il y a 4 jours,121 avis,"Apprentissage, Contrat pro",Contrat\r\nALTERNANCE\r\nFinalité du poste\r\n...,0.0,0.0,0.0,0.0
1,41984177da7622eb,"[""data+analyst"",""data+scientist""]",DATA ANALYST H/F,Groupement Les Mousquetaires,"3,0",Issy-les-Moulineaux (92),Vous accompagnez la montée en compétences anal...,Sponsorisée,Il y a plus de 30 jours,56 avis,"Temps plein, CDI","ITM Alimentaire International, branche aliment...",0.0,0.0,0.0,0.0
2,ecdbb413df0fc6d6,"[""data+scientist""]",Alternance - Data Scientist - Metz (F/H),Banque Populaire Alsace Lorraine Champagne,"3,8",Somme,La Banque Populaire Alsace Lorraine Champagne ...,Sponsorisée,il y a 21 jours,526 avis,"Apprentissage, Contrat pro",La Banque Populaire Alsace Lorraine Champagne ...,0.0,0.0,0.0,0.0
3,51c591314452c91c,"[""data+scientist"",""developpeur""]",DATA SCIENTIST / MACHINE LEARNING RESEARCHER I...,Joko,NaN,Paris (75),Tu seras responsable du développement d'algori...,NaN,il y a 4 jours,NaN,Stage,DESCRIPTIF DU POSTE\r\nTu seras responsable du...,0.0,0.0,0.0,0.0
4,1c8dce698e6095b3,"[""data+scientist""]",Data Scientist - Maintenance prédictive des ap...,MGEN,"3,1",Tours (37),Description de l'établissement ou de la direct...,NaN,il y a 2 jours,194 avis,"Apprentissage, Contrat pro",Description de l'établissement ou de la direct...,0.0,0.0,0.0,0.0

In [15]:
df = MultipleCategorieProcessor(
    cats_to_catch={'Freelance / Indépendant':'Indépendant'},
    cats_to_drop=['nan']
).process_dataframe(df, 'contract')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3002 entries, 0 to 3001
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     3002 non-null   object
 1   query                   3002 non-null   object
 2   title                   3002 non-null   object
 3   company                 3001 non-null   object
 4   rating_mean             1487 non-null   object
 5   location                3002 non-null   object
 6   summary                 3002 non-null   object
 7   sponso                  143 non-null    object
 8   date                    3002 non-null   object
 9   rating_count            1480 non-null   object
 10  contract                2003 non-null   object
 11  desc                    3002 non-null   object
 12  salary_min              3002 non-null   float64
 13  salary_max              3002 non-null   float64
 14  salary_mean             3002 non-null   float64
 15  salary_original_mode    3002 non-null   float64
 16  contract_CDI            3002 non-null   int32
 17  contract_Indépendant    3002 non-null   int32
 18  contract_CDD            3002 non-null   int32
 19  contract_Apprentissage  3002 non-null   int32
 20  contract_Stage          3002 non-null   int32
 21  contract_Contrat pro    3002 non-null   int32
 22  contract_Commission     3002 non-null   int32
 23  contract_Temps partiel  3002 non-null   int32
 24  contract_Intérim        3002 non-null   int32
 25  contract_Temps plein    3002 non-null   int32
dtypes: float64(4), int32(10), object(12)
memory usage: 492.6+ KB

,_id,query,title,company,rating_mean,location,summary,sponso,date,rating_count,...,contract_CDI,contract_Indépendant,contract_CDD,contract_Apprentissage,contract_Stage,contract_Contrat pro,contract_Commission,contract_Temps partiel,contract_Intérim,contract_Temps plein
0,c5bc824b51725453,"[""data+scientist""]",Alternance - Data Scientist H/F,Malakoff Humanis,"3,7",Paris 9e (75),Dans le cadre de votre alternance et en collab...,Sponsorisée,il y a 4 jours,121 avis,...,0,0,0,1,0,1,0,0,0,0
1,41984177da7622eb,"[""data+analyst"",""data+scientist""]",DATA ANALYST H/F,Groupement Les Mousquetaires,"3,0",Issy-les-Moulineaux (92),Vous accompagnez la montée en compétences anal...,Sponsorisée,Il y a plus de 30 jours,56 avis,...,1,0,0,0,0,0,0,0,0,1
2,ecdbb413df0fc6d6,"[""data+scientist""]",Alternance - Data Scientist - Metz (F/H),Banque Populaire Alsace Lorraine Champagne,"3,8",Somme,La Banque Populaire Alsace Lorraine Champagne ...,Sponsorisée,il y a 21 jours,526 avis,...,0,0,0,1,0,1,0,0,0,0
3,51c591314452c91c,"[""data+scientist"",""developpeur""]",DATA SCIENTIST / MACHINE LEARNING RESEARCHER I...,Joko,NaN,Paris (75),Tu seras responsable du développement d'algori...,NaN,il y a 4 jours,NaN,...,0,0,0,0,1,0,0,0,0,0
4,1c8dce698e6095b3,"[""data+scientist""]",Data Scientist - Maintenance prédictive des ap...,MGEN,"3,1",Tours (37),Description de l'établissement ou de la direct...,NaN,il y a 2 jours,194 avis,...,0,0,0,1,0,1,0,0,0,0

In [16]:
df.to_csv('../csv/indeed_pierre_wip.csv', index=False, encoding='utf-8')